<section class="section work">
    <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="section__head">
              <h2 class="section__title">work</h2>
            </div>
            <div class="table-container">
                <table>
                    <tr><th>when</th><th>what</th><th>who</th></tr>
                    <tr><td>2021</td><td>pretty empty here, huh?</td><td>it could be you</td></tr>
                </table>
            </div>
        </div>
    </div>
</section>